<!--
  base.html - Analysis Page
  ------------------------------------
  This HTML file presents Grad Cafe Analysis backbone
  It includes:
  - A navigation bar with a simple title
  - Placeholder for content
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Grad Cafe Analysis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
    <body>
        <nav>
            <a> Grad Cafe Data Analysis</a>
        </nav>
        <hr>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>