<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Contact - Montserrat Delgadillo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% include "_navigation.html" %}

  <main class="container">
    <section id="contact">
      <h2>Contact Me</h2>
      <p>If you'd like to connect or collaborate, feel free to reach out:</p>

      <ul style="list-style: none; padding-left: 0;">
        <li><strong>Email:</strong> <a href="mailto:cdelga15@jh.edu">cdelga15@jh.edu</a></li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/montserrat-delgadillo-2b991061/" target="_blank">linkedin.com/in/montserrat-delgadillo-2b991061/</a></li>
      </ul>
    </section>
  </main>

  <footer>
    &copy; 2025 Montserrat Delgadillo. All rights reserved.
  </footer>
</body>

</html>