<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Projects - Montserrat Delgadillo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% include "_navigation.html" %}

  <main class="container">
    <section id="projects">
      <h2>Projects</h2>
      <ul>
        <li> <a href="https://github.com/cecymontse-delgadillo/jhu_software_concepts/tree/main/module_1">Module 1: Assignments</a></li>
      </ul>
    </section>
  </main>

</body>

</html>